POSTGRES_DB=playerhub
POSTGRES_USER=playerhub
POSTGRES_PASSWORD=playerhub_dev
POSTGRES_PORT=5432
PLAYERHUB_DATASET_PATH=C:/ruta/hacia/Estadisticas de futbol/archive
PLAYERHUB_DATA_AS_OF=2025-09-13
PLAYERHUB_TARGET_CLUB_ID=1234
